<!-- templates/about_section.html -->
<!-- About Section -->
<section class="about-us mt-5">
    <div class="container">
        <h2>About Davangere Motors</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="/static/img/car-icon-hi.png" alt="About Davangere Motors" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>Welcome to chaat-chit,where the vibrant energy of Indain streets 
                <p>Our passion for cars drives us to select only the best for our showroom. We believe in creating lasting relationships with our clients and ensuring every aspect of your car-buying experience is beyond satisfactory.</p>
                <p>Visit us to discover the Davangere difference, where excellence meets elegance in the world of automobiles.</p>
            </div>
        </div>
    </div>
</section> <!-- End of About Section -->
