<!-- templates/about_section.html -->
<!-- About Section -->
<section class="about-us mt-5">
    <div class="container">
        <h2>About Bite Buzz</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="/static/img/bite buzz logo.jpeg" alt="About Bite Buzz" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>Welcome to Bite Buzz, your premier destination for Premium Quality Food. Since our founding in 2026, we have been committed to providing an exceptional selection of high-quality Dishes and outstanding customer services.</p>
                <p>At Bite Buzz, we understand that food is not just sustenance; it's an experience. That's why we meticulously source our ingredients from trusted suppliers to ensure that every bite is bursting with flavor and freshness. Our menu features a diverse range of dishes, crafted with care and creativity to satisfy every palate.</p>
                <p>Visit us to discover the Bite Buzz difference, where excellence meets elegance in the world of cuisine.</p>
            </div>
        </div>
    </div>
</section> <!-- End of About Section -->
